<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <link href='https://fonts.googleapis.com/css?family=Spectral' rel='stylesheet'>\
        <title>The Traveling Taylor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/index.js" charset="utf-8" defer></script>

    </head>

    <body>
        <nav class = "logo_">
            <div class="logo">
                <h4>The Traveling Taylor</h4>
                <i class="fas fa-video"></i>
            </div>
        </nav>
        <nav class = "navbar_">
            <ul class ="navbar">
                <li>
                    <a href="/home" class="link">Home</a>
                </li>
                <li>
                    <a href="/blog" class="link">About</a>
                </li>
                <li>
                    <a href="/pictures" class="link">Pictures</a>
                </li>
                <li>
                    <a href="/about" class="link">About</a>
                </li>
                <li>
                    <a href="/about" class="link">Donate</a>
                </li>


            </ul>
        </nav>
    </body>

  <body>
      {{{body}}}
  </body>

     <button onclick= "location.href = '/createreview'" type="button" id="create-review-button"> <a href="/createreview"> </a> <i class="fas fa-plus-square"></i></button>

<html>
